
body h1,.button{
    text-align: center;
}
h1{
    font-family:'oswald';
    font-size:50px; 
    color:white;


}
body{
    background-image: url(../images/image1.jpeg);
}
p{
    font-size: 20px;
    color:#e6e6fa;
    font-family:'calibri';
}
.container{
    background-color:black;
    width:50%;
    margin-top: 10%;
    margin-left: 25%;
    border: 2px solid black;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 5px;

}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}